* {
   margin: 0;
   padding: 0;
}

.weatherWrapper {
   background-image: url(./images/bg.jpg);
   height: 100vh;
   background-position: center;
   background-size: cover;
   text-align: center;
   color: white;
   font-family: Roboto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.weather {
   background-color: rgb(248, 245, 245);
   border-radius: 15px;
   color: rgb(35, 32, 63);
   padding: 20px;
   padding-bottom: 0px;
   width: 380px;
   margin-top: 40px;
   font-size: 32px;
}

.title {
   font-size: 60px;
}

.subtitle {
   font-size: 22px;
}

.sol {
   font-size: 48px;
}

.subSol,
.update {
   font-size: 16px;
   padding-bottom: 10px;
}

.data {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 10px;
}

.icon-wind {
   height: 30px;
   width: 50px;
   padding-right: 10px;
}

.icon {
   height: 40px;
   width: 40px;
   padding-right: 10px;
}

@media only screen and (max-width: 450px) {
   .weather {
      width: auto;
   }

   .title {
      font-size: 40px;
   }
}